* 
{
    font-family: 'Kdam Thmor Pro', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body
{
    overflow-x: hidden;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo
{   
    padding: 10px 35px;
    color: rgba(255, 255, 255, 0.254);
    font-weight: 1000;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul
{
    padding: 20px 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    margin-left: 10px;
    display: inline-block;
    position: relative;
}
header ul li a
{
    padding: 6px 15px;
    color: rgb(49, 42, 189);
    text-decoration: none;
    font-size: 20px;
}
header ul li::after
{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(26, 23, 181);
    display: block;
    margin: auto;
    transition: 0.5s;
}
header ul li a.active
{
    transition: 0.5s;
    background: rgb(5, 19, 148);
    color:rgb(48, 104, 201);
}
header ul li:hover::after
{
    width: 65%;
}
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#151186,#fff);
}
section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section img#mountains_front
{
    z-index: 10;
}
#text
{
    position: absolute;
    right: -350px;
    color: rgba(255, 255, 255, 0.599);
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
}
#btn
{
    text-decoration: none;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.599);
    color: rgba(255, 255, 255, 0.444);
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}
.text-box
{
    width: 90%;
    color: rgb(83, 33, 170);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1
{
    font-size: 62px;
}
.text-box h2
{
    margin: 10px 0 40px;
    font-size: 14px;
    color: rgb(92, 56, 168);
}
